<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MarionetteJS Contact Manager</title>
		<link href="./assets/css/bootstrap.css" rel="stylesheet">
		<link href="./assets/css/application.css" rel="stylesheet">
	</head>
	<body>
		<div id="layout_view" class="container"></div>

		<script id="layout_view_template" type="text/template">
			<div id="menu"></div>
			<div id="view"></div>
		</script>
		<script id="main_menu" type="text/template">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<span class="brand">BackboneJS & MarionetteJS</span>
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#services">services</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</script>
		<script id="home_view" type="text/template">
			<h3>Homepage</h3>
		</script>
		<script id="services_view" type="text/template">
			<h3>Services</h3>
			<div id="table"></div>
		</script>
		<script id="service_item_template" type="text/template">
			<td><%= name %></td>
			<td><%= description %></td>
		</script>
		<script id="contact_view" type="text/template">
			<h3>Contact us</h3>
		</script>
		<script src="./assets/js/vendor/underscore.js"></script>
		<script src="./assets/js/vendor/jquery.js"></script>
		<script src="./assets/js/vendor/json2.js"></script>

		<script src="./assets/js/vendor/backbone.js"></script>
		<script src="./assets/js/vendor/backbone.babysitter.js"></script>
		<script src="./assets/js/vendor/backbone.wreqr.js"></script>
		<script src="./assets/js/vendor/backbone.marionette.js"></script>

		<script type="text/javascript">
			var App = new Backbone.Marionette.Application();
			App.Routes = App.Routes || {};
			App.Controllers = App.Controllers || {};
			App.Models = App.Models || {};
			App.Views = App.Views || {};
		</script>

		<script src="./assets/js/modules/home/views.js"></script>
		<script src="./assets/js/modules/home/controllers.js"></script>
		<script src="./assets/js/modules/home/main.js"></script>
		<script src="./assets/js/modules/services/views.js"></script>
		<script src="./assets/js/modules/services/models.js"></script>
		<script src="./assets/js/modules/services/main.js"></script>
		<script src="./assets/js/modules/contact/views.js"></script>
		<script src="./assets/js/modules/contact/controllers.js"></script>
		<script src="./assets/js/modules/contact/main.js"></script>
		<script src="./assets/js/modules/common/controllers.js"></script>
		<script src="./assets/js/modules/common/views.js"></script>
		<script src="./assets/js/modules/common/main.js"></script>
	</body>
</html>